@import "@material/button/dist/mdc.button.min.css";
@import "@material/textfield/dist/mdc.textfield.min.css";
@import "@material/select/dist/mdc.select.min.css";
@import "@material/linear-progress/dist/mdc.linear-progress.min.css";
@import "@material/card/dist/mdc.card.min.css";
@import "@material/tabs/dist/mdc.tabs.min.css";
:root {
  /* --themeColor: #11B683; */
  --themeColor: #3700b3;
  --lightThemeColor: #6200ee;
  --lighterThemeColor: #b986ff;
  --cardColor: #964aff;
  --lightTextColor: #ffffff;
  --onHoverFadeAnimationTime: 0.5s;
  --tabbedTextColor: #616161;
  --desktopRightLeftMargin: 25%;
  --mobileRightLeftMargin: 4%;
  --appleFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --desktopProductCardWidth: 25%;
  --mobileProductCardWidth: 75%;
  --slideFadeOutTime: opacity 0.5s;
}
html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#left-panel {
  width: 45%;
  margin: 0;
  padding: 0;
}

#right-panel {
  width: 45%;
  margin: 0px;
  padding: 40px;
}

.dateSelectorRadio, .eventSelectorRadio {
  border: none;
  border-radius: 3px;
  background-color: var(--lighterThemeColor);
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.5px;
}
.dateSelectorRadio:hover, .eventSelectorRadio:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.selectedDateButton, .selectedEventButton {
  background-color: var(--themeColor);
  color: var(--lightTextColor);
}

#download,
#print, #pullEvents {
  border: none;
  border-radius: 3px;
  background-color: var(--tabbedTextColor);
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.5px;
  color: var(--lightTextColor);
}
