@import "@material/button/dist/mdc.button.min.css";
@import "@material/textfield/dist/mdc.textfield.min.css";
@import "@material/select/dist/mdc.select.min.css";
@import "@material/linear-progress/dist/mdc.linear-progress.min.css";
@import "@material/card/dist/mdc.card.min.css";
@import "@material/tabs/dist/mdc.tabs.min.css";
:root {
  /* --themeColor: #11B683; */
  --themeColor: #074163;
  --lightThemeColor: #0b419a;
  --disabledThemeColor: #bdd4fa;
  --lighterThemeColor: #2b76f0;
  /* --cardColor: #98bdf8; */
  --cardColor: #0b419a;
  --lightTextColor: #a2a2a2;
  --onHoverFadeAnimationTime: 0.5s;
  --tabbedTextColor: #616161;
  --desktopRightLeftMargin: 25%;
  --mobileRightLeftMargin: 4%;
  --appleFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --desktopProductCardWidth: 25%;
  --mobileProductCardWidth: 75%;
  --slideFadeOutTime: opacity 0.5s;
}
html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#navigation {
  /* position: fixed;
  bottom: 0;  */
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #ffffff;
  box-shadow: 0 -7px 7px -7px #333;
  font-family: var(--appleFontFamily);
  animation: fadeIn 1s linear;
}
#navigation a {
  overflow: hidden;
  color: var(--lightTextColor); /*666666*/
  text-decoration: none;
  -o-transition: var(--onHoverFadeAnimationTime);
  -ms-transition: var(--onHoverFadeAnimationTime);
  -moz-transition: var(--onHoverFadeAnimationTime);
  -webkit-transition: var(--onHoverFadeAnimationTime);
  transition: var(--onHoverFadeAnimationTime);
}
#navigation a:hover {
  color: var(--lighterThemeColor);
  text-decoration: none;
}
#MainContent {
  /* width: 100%; */
  height: inherit;
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#mainTitle {
  color: #000000;
  width: 30%;
  text-align: center;
}
#titleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#plus {
  margin: 0px;
  padding: 0px;
}
#infoButton {
  margin: 0px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  background-color: transparent;
}
#infoButton p {
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
#titleBar2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#imgDiv img {
  height: inherit;
}
#imgDiv {
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
  width: 30%;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/* #instructions {
  padding-bottom: 20px;
} */
#logout {
  border: none;
  border-radius: 3px;
  background-color: var(--lighterThemeColor);
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.5px;
  color: #ffffff;
  
}
#logout:hover {
  /* cursor: pointer; */
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}
/* ***********************************
* DAYS
*/
#days {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  padding-bottom: 20px;
}
.week {
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  padding-bottom: 20px;
}
.day {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 3px;
  height: inherit;
  overflow: auto;
  display: block;
  flex-direction: column;
  justify-content: space-evenly;
  /* padding-left: 5px;
  padding-right: 5px; */
}
#dayLabelsDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#dayLabelsDiv p {
  width: inherit;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin-bottom: 0px;
}
.dayDiv {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 5px;
  padding-right: 5px;
}
.dayDiv p {
  text-align: center;
  margin-top: 0px;
}
.card {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: var(--cardColor);
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
}
.reg {
  border: none;
  border-radius: 3px;
  background-color: var(--lighterThemeColor);
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.reg:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}
.reg:disabled {
  background-color: var(--disabledThemeColor);
  color: #000000;
}
.hCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}
#next {
  background-color: transparent;
  border: none;
  /* color: #000000; */
  cursor: pointer;
}
#next:focus {
  outline: none;
}
#previous {
  background-color: transparent;
  border: none;
  /* color: #000000; */
  cursor: pointer;
}
#previous:focus {
  outline: none;
}
/* ***********************************
* MODAL
*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
#close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
#close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal2 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 40rem;
  border-radius: 0.5rem;
}
#close-button2 {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
#close-button2:hover {
  background-color: darkgray;
}
.show-modal2 {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
#accept {
  margin-left: 10px;
  background-color: #074163;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}
#accept:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
#deny {
  background-color: #c89b45;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
#deny:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
#modalTime {
  margin-top: 5px;
}
#modalTime2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 800px) {
  #dayLabelsDiv {
    display: none;
  }
  .week {
    flex-direction: column;
  }
  .dayDiv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #imgDiv {
    display: none;
  }
  .card {
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0);
  }
  .day {
    background-color: #ffffff;
  }
  /* #titleBar {
    flex-direction: column;
  } */
  #titleBar2 {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  #MainContent {
    height: auto;
  }
  #lgout {
    align-items: center!important;
    width: 30%;
    margin-bottom: 20px;
  }
  #instructions {
    text-align: center;
  }
  .modal-content {
    width: 20rem;
  }
  .modal-content2 {
    width: 60%;
    max-height: 70%;
    overflow: scroll;
  }
  #mainTitle {
    width: 100%;
  }
}

.insDiv {
  /* background-color: rgba(0, 0, 0, 0.2); */
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
}

#days .dayDiv:nth-child(7n + 4) > .day {
  justify-content: start;
  padding-top: 5px;
}

#modalTitle h1 {
  margin-bottom: 0px;
}
#modalTitle h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}